*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
%full{
    width: 100%;
    height: 100%;
    overflow:hidden;
}
html,body{
    @extend %full;
    font-size: 100px;
}
.wrap{
     font-size: .16rem;
     @extend %full;
     display:flex;
     flex-direction: column;
     
}
.header{
    width: 100%;
    height:.44rem;
    border-bottom: .05rem solid #F3F3FE;
    ul{
        width: 100%;
        height:.44rem;
        display:flex;
        li{
           width: 18%;
           height:.44rem;
           margin-left:10%; 
           text-align: center;
           line-height: .44rem;
        }
        .bor{
            border-bottom: .05rem solid #617EF6;
            color:#617EF6;
        }
    }
}
.con{
    width: 100%;
    height:auto;
    padding:.15rem;
    flex:1;
    overflow-y: scroll;
    .box{
        width: 100%;
        height:1.5rem;
        border:1px solid #ccc;
        border-radius: 5px;
        margin-bottom: .1rem;
        &:nth-child(2){
            .top{
                background:#5686F4;
            }                 
        }
        &:nth-child(3){
            .top{
                background:#965DF5;
            }                 
        }
         &:nth-child(4){
            .top{
                background:#4BC670;
            }                 
        }
        .top{
            background:#FD6060;
            color:#fff;
            height:.8rem;
            border-bottom: 1px dashed #fff;
            position: relative;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            
            span{
                position: absolute;
                left:.1rem;
                top:.1rem;
                font-size: .3rem;
            }
            b{
                position: absolute;
                left:.5rem;
                top:.15rem;
                font-size: .5rem; 
            }
            p{
                position: absolute;
                right:.1rem;
                top:.2rem;
                font-size: .3rem; 
            }
        }
        .bot{
            width: 100%;
            height:.7rem;
            position: relative;
            span{
                position: absolute;
                top:.05rem;
                left:.1rem;
                &:nth-child(3){
                    top:.4rem;
                }
            }
            p{
                text-indent: .3rem;
                line-height: .32rem;
                vertical-align: middle;
            }
        }
    }
}
